* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* index */
body {
  background-image: url("../img/fondobody.jpg");
  background-size: cover;
  min-height: 100vh;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  text-decoration: none;
  font-family: 'Syncopate', sans-serif;
}

.encabezado {
  height: 163px;
  font-size: 21px;
}

.encabezado .section-1 .titulo h1 {
  text-align: center;
  font-weight: 500;
  padding: 30px;
}

.encabezado .section-2 ul {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 1.4rem;
  border: none;
}

#principal #home h2 {
  text-align: center;
  padding-bottom: 20px;
}

#principal #introduccion #carouselExampleIndicators {
  padding: 30px;
}

#principal #nosotros .grid-item div h2 {
  text-align: center;
  padding: 20px;
  font-weight: 1000;
  color: #0f0d0d;
}

#principal #nosotros .grid-item p {
  text-align: center;
  font-weight: 1000;
  padding: 30px 0px;
  color: #0f0d0d;
}

#principal #nosotros .grid-item .vermas {
  text-decoration: none;
  color: #f0f8ff;
  display: inline-block;
  padding: 0px 750px;
  border: none;
}

#principal #valores .grid-item h2 {
  text-align: center;
  padding: 30px 0px;
  font-weight: 1000;
  color: #0f0d0d;
}

#principal #valores .grid-item p {
  text-align: center;
  font-weight: 1000;
  padding: 30px 0px;
  color: #0f0d0d;
}

#principal #valores .grid-item ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding: 20px;
}

#principal #valores .grid-item ul li {
  display: block;
  -webkit-text-decoration: wavy;
          text-decoration: wavy;
  padding: 1%;
  text-align: center;
  font-weight: 1000;
  color: #0f0d0d;
  font-size: x-large;
}

#principal #valores .grid-item .video {
  display: inline;
  width: 800px;
  height: 800px;
  padding: 100px;
  margin-left: 398px;
}

#principal #valores .grid-item .vinculo-valores .vermas2 {
  text-decoration: none;
  color: #f0f8ff;
  display: inline-block;
  padding: 50px;
  border: none;
}

#footer {
  background-color: #0f0d0d;
  color: #f0f8ff;
}

#footer .container {
  -webkit-text-decoration-style: none;
          text-decoration-style: none;
}

#footer .container .align-items-center .col {
  -webkit-text-decoration-style: none;
          text-decoration-style: none;
  color: #f0f8ff;
}

#footer .container .align-items-center .col p {
  padding: 46px 6px 0px 0px;
  margin-right: 40px;
}

#footer .container .align-items-center .col iframe {
  padding: 40px;
}

@media screen and (min-height: 765px) {
  #footer {
    height: 300px;
    border-top: #f0f8ff solid 2px;
    color: #f0f8ff;
  }
  #footer .grid-item {
    padding: 40px 0px 0px 31px;
  }
  #footer .grid-item .redessociales ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  #footer .grid-item .redessociales ul li a {
    -webkit-text-decoration-style: none;
            text-decoration-style: none;
  }
}

@media screen and (max-height: 811px) {
  #principal section #carouselExampleIndicators .carousel-inner {
    padding-top: 78px;
  }
}

/* nosotros */
body .encabezado-nosotros .titulo-nosotros .h1-nosotros {
  padding: 20px;
  font-weight: 900;
}

body .encabezado-nosotros .men {
  text-decoration: none;
}

body .encabezado-nosotros .men .nav-tabs {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body #main-nosotros .section-nosotros .pregunta-nosotros h2 {
  padding: 30px;
  color: #f0f8ff;
  font-weight: 900;
}

body #main-nosotros .section-nosotros .texto-nosotros p {
  padding: 30px;
  color: #f0f8ff;
  font-weight: 900;
  text-align: center;
}

body .imagenes-nosotros .container .row-cols-2 col img {
  border-radius: 50%;
}

/* valores */
.encabezado-valores .titulo-valores h1 {
  padding: 20px;
  font-weight: 900;
}

.encabezado-valores .men2 .nav-tabs {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main-valores .section-valores .pregunta-valores h2 {
  padding: 30px;
  color: #f0f8ff;
  font-weight: 900;
}

.main-valores .section-valores .respuesta-valores p {
  font-weight: 700;
  padding: 0px 30px;
  text-align: center;
  color: #f0f8ff;
  font-weight: 900;
}

.main-valores #segunda-parte-valores .segunda-pregunta-valores h2 {
  text-align: center;
  color: #f0f8ff;
  font-weight: 900;
}

.main-valores .valores-lista1 .scrollspy-example {
  padding-top: 40px;
}

.main-valores .valores-lista1 .scrollspy-example h4 {
  text-align: center;
  padding: 0px 30px;
  color: #f0f8ff;
  font-weight: 900;
}

.main-valores .valores-lista1 .scrollspy-example p {
  font-weight: 900;
  padding: 30px;
  color: #f0f8ff;
}

.main-valores .world-rugby {
  padding-left: 40px;
  color: #f0f8ff;
  font-weight: 900;
  text-decoration: none;
}

.main-valores .world-rugby a {
  display: inline;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#footer-valores {
  background-color: #0f0d0d;
  color: #f0f8ff;
  height: 300px;
}

#footer-valores .container {
  -webkit-text-decoration-style: none;
          text-decoration-style: none;
}

#footer-valores .container .align-items-center .col {
  width: 100%;
  -webkit-text-decoration-style: none;
          text-decoration-style: none;
  color: #f0f8ff;
}

#footer-valores .container .align-items-center .col p {
  padding: 46px 6px 0px 0px;
  margin-right: 40px;
}

/* contacto */
.encabezado-contacto .titulo-contacto h1 {
  padding: 20px;
  font-weight: 900;
}

.encabezado-contacto .men3 .nav-tabs {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main .afirmacion-contacto h2 {
  padding: 50px 30px;
  font-weight: 900;
}

main .formulario {
  color: #f0f8ff;
  font-weight: 900;
  padding-left: 30px;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: #f0f8ff solid 3px;
  border-radius: 4%;
}

main .formulario .form {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main .formulario .form .formulario-grid {
  padding: 20px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#footer-contacto {
  background-color: #0f0d0d;
  color: #f0f8ff;
}

#footer-contacto .container {
  -webkit-text-decoration-style: none;
          text-decoration-style: none;
}

#footer-contacto .container .align-items-center .col {
  -webkit-text-decoration-style: none;
          text-decoration-style: none;
  color: #f0f8ff;
}

#footer-contacto .container .align-items-center .col p {
  padding: 46px 6px 0px 0px;
  margin-right: 40px;
}

/* ayuda */
.encabezado-ayuda .titulo-ayuda h1 {
  padding: 20px;
}

.encabezado-ayuda .men4 .nav-tabs {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main .parte-uno-ayuda .afirmacion-ayuda h2 {
  padding: 20px;
  text-align: center;
  font-weight: 900;
}

main #preguntas-frecuentes {
  font-weight: 900;
}

main #preguntas-frecuentes .preguntas {
  text-align: center;
  padding: 30px;
}

main #preguntas-frecuentes .preguntas .preguntas-grid {
  background-color: #f0f8ff;
}

main #preguntas-frecuentes .preguntas .preguntas-grid ul {
  text-decoration: none;
}

#footer-help {
  background-color: #0f0d0d;
  color: #f0f8ff;
}

#footer-help .container {
  -webkit-text-decoration-style: none;
          text-decoration-style: none;
}

#footer-help .container .align-items-center .col {
  -webkit-text-decoration-style: none;
          text-decoration-style: none;
  color: #f0f8ff;
}

#footer-help .container .align-items-center .col p {
  padding: 46px 6px 0px 0px;
  margin-right: 40px;
}
