/* index */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: url("../img/fondobody.jpg");
    background-size: cover;
    min-height: 100vh;
    background-repeat:no-repeat;
    background-position: center;
    background-attachment: fixed;
}



main{
    color:#dde8f3;
    font-family: 'Syncopate', sans-serif;
    text-decoration: none;
}
.homediv h1{
    text-align: center;
}
#home .teros{
    text-align: center;
    padding: 0px 0px 50px 0px;
}
#introduccion p{
    padding: 20px;
    margin: 20px;
    text-align:left;
}
#introduccion .intro p{
    text-align:left;
}
#home .grid-item{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, auto);
    grid-row: auto;
}

#introduccion{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, auto);
    grid-row: auto;
}
#nosotros{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, auto);
    grid-row: auto;
}
#valores{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, auto);
    grid-row: auto;
}
#contacto{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, auto);
    grid-row: auto;
}
.grid-item img{
    width: 100%;

}

@media screen and (max-width:765px) {
    #valores{
        display: inline;
    }
    #valores .grid-item{
        width: 100% !important;
    }
    .grid-item ul{
        display: inline-block !important;
    }
    .vermas2{
        padding: 0px !important;
    }
    .lista-footer{
        width: 100%;
    }
    .mailFooter{
        width: 100%;
        font-size: 13px;
    }
}

@media screen and (min-width:765px) {
    .grid-item img{
        width: 50%;
    
    }
    #home{
        grid-template-columns: 1fr ;
    }
    #introduccion{
        grid-template-columns: 1fr ;
    }
    #nosotros{
        grid-template-columns: 1fr;
    }
    #valores{
        grid-template-columns: 1fr;
    }
    #valores .valores-list ul{
        display: flex;
        flex-direction: column;
    }
    #contacto{
        grid-template-columns: 1fr ;  
    }
    #footer{
        grid-template-columns: 1fr ;   
    }
    .encabezado ul{
        font-size: 20px;
    }
}
@media screen and (min-width:1200px) {
    #home{
        grid-template-columns: 1fr;
    }
    #introduccion{
        grid-template-columns: 1fr;
    }
    #nosotros{
        grid-template-columns: 1fr ;
    }
    #valores{
        grid-template-columns: 1fr ; 
    }
    #contacto{
        grid-template-columns: 1fr;  
    } 
    #footer{
        grid-template-columns: 1fr;   
    }
    .video{
        width: 40%;
    }
    .vermas2{
        padding: 0px !important;
    }
    .encabezado ul{
        font-size: 30px;
    }
}
.grid-item .homediv h2{
    text-align: center;
    padding: 20px;
}
.encabezado ul {
    justify-content: center;
}
#introduccion .intro{
    margin: 30px auto;
    text-align: center;
    padding: 0px 0px 35px 0px;
}

#nosotros .nosotrosc{
    margin: 20px auto;
    text-align: center;
    padding: 0px 0px 35px 0px;
    text-decoration: none;
}
div.ver a{
    display:inline;
    border: #f2f2f6 groove;
    color: #dde8f3;
    padding: 0px 750px;
    border: none;
    
}
#valores h2 {
    margin: 20px auto;
    text-align: center;
    padding: 20px 0px 35px 0px;
    
    
}
#valores .valoresc{
    margin: 20px auto;
    text-align: center;
    padding: 10px auto;
}
.valoreslist ul li{
    display: block;
    text-decoration: wavy;
    padding: 1%;
    text-align: center;
   
}
#valores .grid-item{
    text-align: center;
    padding: 10px;
}
#valores .grid-item ul{
    display: flex;
    justify-content: space-evenly;
    padding: 20px;
}
.iframevalores{
    display: inline;
    padding: 0px 550px;

}

#contacto h2{
    margin: 20px auto;
    text-align: center;
    padding: 35px 0px 20px 0px;
}
#contacto {
    margin: 20px 0px 20px 0px;
    padding:auto;
    text-align: center;
}
.iframevalores .vermas2{
    margin:20%;
    text-align: right;
    width: 20px;
    display: inline;
    border: #f2f2f6 groove;
    color: #dde8f3;
}
.iframecontacto .vermas3 {
    margin:20% 0% 20% 0%;
    text-align: right;
    width: 20px;
    display: inline;
    border: #f2f2f6 groove;
    color: #dde8f3;
}
.valoreslist ul {
    padding-right: 3%;
    flex-direction: row-reverse;
    display: flex;
    align-items: center;
}
.valoreslist ul li{
    padding:5%;
    display: flex;
    flex-direction: row-reverse;
}
.vinculo-valores .vermas2 {
    margin-bottom: 10px;
    display:inline;
    border: #f2f2f6 groove;
    color: #dde8f3;
    padding: 0px 750px;
    border: none;
}
div.vermas2 a {
    display:inline;
    border: #f2f2f6 groove;
    color: #dde8f3;
    padding: 0px 750px;
    border: none;
}
footer {
    display:block;
    text-decoration-style: double;
    height: 200px;
    color:#dde8f3;
    text-align: center;
    text-decoration:none;
    font-family: 'Syncopate', sans-serif;
}
div.titulofooter h3{
    display: flex;
    align-items: center;
}
footer h3{
    display: flex;
    justify-content: center;
    color: black;
}
footer ul{
    display: inline;
}
/* nosotros */
.encabezado-nosotros{
    height: 300px;
    font-size: 21px;
    display:flex;
    justify-content: flex-end;
    align-items: center;
    text-align: right;
    padding-right: 20px;
}
.encabezado-nosotros .titulo-nosotros h1{
    padding: 0px 60px;
}
.titulo-nosotros h1{
    display: flex;
    justify-content: left;
    font-weight: bold;
    color: #d4d4e7;
    font-family: 'Syncopate', sans-serif;
    padding-bottom: 2%;
    padding-right: 7%;
}
.pregunta-nosotros h2{
    margin: 40px 20px;
    width: 100%;
    display: inline;
    align-items: center;
}
#main-nosotros .pregunta-nosotros h2{
    padding: 20px;
}
.texto-nosotros p{
    padding: 10px 120px;
    align-items: center;

}
.imagenes-grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows:repeat(3, auto);
    padding-left: 534px;

}
.pregunta-nosotros{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    width: auto;
}
.imagenes-grid img{
    width: 50%;
    align-items: center;

}
@media screen and (max-width:765px) {
    .pregunta-nosotros{
        width: 100%;
    }
    .lista-footer{
        width: 100%;
    }
    .mailFooter{
        width: 100%;
        font-size: 13px;
    }
}
@media screen and (min-height:765px) {
   .imagenes-grid{
       grid-template-columns: 1fr;
   }
   .pregunta-nosotros{
       grid-template-columns: 1fr;
   }
}
@media screen and (min-width:1200){
    .imagenes-grid{
        grid-template-columns: 1fr 1fr;
        
    }
    .pregunta-nosotros{
        grid-template-columns: 1fr 1fr;
    }
}
/* valores */
.encabezado-valores{
    height: 300px; 
    font-size: 21px;
    display:flex;
    align-items: center;
    text-align: right;
}
.titulo-valores h1{
    display: flex;
    justify-content: left;
    font-weight: bold;
    color: #d4d4e7;
    font-family: 'Syncopate', sans-serif;
    padding-bottom: 2%;
    padding-right: 7%;
}
.encabezado-valores .titulo-valores h1{
    padding: 60px;
}
.main-valores{
    text-decoration: none;
}
.pregunta-valores{
    width: 100%;
    display: block;
}
.pregunta-valores h2{
    width: 100%;
    margin: 20px 0px;
    padding-left: 60px;
    display: flex;
    
}
.pregunta-valores p{
    padding:33px 52px;
}
.segunda-pregunta-valores h2{
    margin: 30px auto;
    padding: 20px 548px;
    display: block;
    align-items: center;
}
.valores-lista{
    display: grid;
    justify-content: center;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
}
.valores-lista li{
    width: 100%;
    font-size: 30px;
}
.valores-lista{
    list-style: none;
}
.valores-lista .integridad-flex{
    width: 100%;
}
.integridad-flex li p{
    display: inline-flex;
    width: 100%;
   padding: 10px 50px;
}
.integridad-flex li{
    width: 100%;
    padding: 10px 656px;
}
.integridad-flex img{
    width: 100%;
    display: grid;
    margin: auto;
    border: 4px outset #575151 ;
    justify-content: flex-start;
}
.pasion-flex{
    margin-top: 20px;
    padding: 10px;
}
.pasion-flex li{
    margin-top: 20px;
    padding: 0px 656px;
}
.pasion-flex p{
    margin-top: 20px;
    padding: 10px 50px;
}
.pasion-flex-img{ 
    width: 100%;
    margin-top: 20px;
    display:grid;
    gap: 10px;
    justify-content:flex-start;
}
.pasion-flex-img img{
    width: 100%;
    border: 4px outset #575151 ;
}
.solidaridad-flex{
    margin-top: 20px;
    padding: 10px;
}
.solidaridad-flex p{
    margin-top: 20px;
    padding: 10px 50px
}
.solidaridad-flex li{
    margin-top: 20px;
    padding: 0px 656px;
}
.valores-lista .solidaridad-flex-img img{
    width: 800px;
}
.solidaridad-flex-img{
    width: 100%;
    display:grid;
    margin-top: 20px;
    justify-content:flex-start;
}
.solidaridad-flex-img img{
    width: 100%;
    border: 4px outset #575151 ;
}
.disciplina-flex{
    margin-top: 20px;
    padding: 10px;
}
.disciplina-flex li{
    margin-top: 20px;
    padding: 0px 656px;
}
.disciplina-flex p{
    margin-top: 20px;
    padding: 10px 50px 
}
.disciplina-flex-img{
    width: 100%;
    margin-top: 20px;
    display:grid;
    gap: 10px;
    justify-content:flex-start;
}
.disciplina-flex-img img{
    width: 100%;
    border: 4px outset #575151 ;
}
.respeto-flex{
    margin-top: 20px;
    padding: 10px;
}
.respeto-flex li{
    margin-top: 20px;
    padding: 0px 656px;
}
.respeto-flex p{
    margin-top: 20px;
    padding: 10px 50px 
}
.respeto-flex-img{
    width: 100%;
    display:grid;
    justify-content: flex-start;
}
.respeto-flex-img img{
    width: 100%;
    padding-bottom: 7px;
    border: 4px outset #575151 ;
}
.valores-lista img{
    width: 100%;
}
@media screen and (max-height:576px) {
    .valores-lista{
        grid-template-columns: 1fr;
    }
    .respeto-flex{
        grid-template-columns: 1fr 1fr 1fr;
    }
    .disciplina-flex{
        grid-template-columns: 1fr 1fr 1fr;
    }
    .solidaridad-flex{
        grid-template-columns: 1fr 1fr 1fr; 
    }
    .pasion-flex{
        grid-template-columns: 1fr 1fr 1fr;   
    }
    .integridad-flex{
        grid-template-columns: 1fr 1fr 1fr;
    }
}
@media screen and (min-height:768px) {
    .valores-lista{
        grid-template-columns: 1fr 1fr;
    }
    .respeto-flex{
        grid-template-columns: 1fr 1fr;
    }
    .disciplina-flex{
        grid-template-columns: 1fr 1fr;
    }
    .solidaridad-flex{
        grid-template-columns: 1fr 1fr; 
    }
    .pasion-flex{
        grid-template-columns: 1fr 1fr;   
    }
    .integridad-flex{
        grid-template-columns: 1fr 1fr;
    }
}
@media screen and (min-width:1200px) {
    .valores-lista{
        grid-template-columns: 1fr;
    }
    .respeto-flex{
        grid-template-columns: 1fr;
    }
    .disciplina-flex{
        grid-template-columns: 1fr;
    }
    .solidaridad-flex{
        grid-template-columns: 1fr; 
    }
    .pasion-flex{
        grid-template-columns: 1fr;   
    }
    .integridad-flex{
        grid-template-columns: 1fr;
    }
    
}
/* contacto */
.encabezado-contacto{
    height: 300px;
    font-size: 21px;
    display:flex;
    align-items: center;
    text-align: right;
}
.titulo-contacto h1{
    
    display: flex;
    justify-content: left;
    font-weight: bold;
    color: #d4d4e7;
    font-family: 'Syncopate', sans-serif;
    padding-bottom: 2%;
    padding-right: 7%;
}
.encabezado-contacto .titulo-contacto h1{
    padding: 60px;
}
form{
    padding: 0px 40px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
   
}
.form .formulario-grid{
    width: 100%;
}
.formulario-grid{
    width: 100%;
}
#formulario .form{
    width: 100%;
    padding: 20px;
}
@media screen and (min-height:575px) {
    .formulario-grid{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
    }
    
}
@media screen and (min-height:768px) {
    .formulario-grid{
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }
    
}
@media screen and (min-height:1200px){
    .formulario-grid{
        grid-template-columns: 1fr 1fr 1fr;
    }
}
.afirmacion-contacto h2{
    padding: 0px 40px;

}

/* help */
.encabezado-ayuda{
    height: 300px;
    font-size: 21px;
    display:flex;
    align-items: center;
    text-align: right;
}
.titulo-ayuda h1{
    display: flex;
    justify-content: left;
    font-weight: bold;
    color: #d4d4e7;
    font-family: 'Syncopate', sans-serif;
    padding-bottom: 2%;
    padding-right: 7%;
}
.encabezado-ayuda .titulo-ayuda h1{
    padding: 60px;
}
.afirmacion-ayuda{
    width: 100%;
}
div.preguntas{
    width: 100%;
    padding: 20px 60px;
}
.imagen-hombre img{
    padding: 0px 50px;
}
.preguntas{
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;

}
.preguntas-grid{
    display: grid;
}
@media screen and (min-height:575px){
    .preguntas-grid{
        grid-template-columns: 1fr;
    }
    
}
@media screen and (min-height:768px){
    .preguntas-grid{
        grid-template-columns: 1fr 1fr;
    }
    
}
@media screen and (min-height:1200px){
    .preguntas-grid{
        grid-template-columns: 1fr;
    }
    
}
