*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* index */
body{
    background-image: url("../img/fondobody.jpg");
    background-size: cover;
    min-height: 100vh;
    background-repeat:no-repeat;
    background-position: center;
    background-attachment: fixed;
    text-decoration: none;
    font-family: 'Syncopate', sans-serif; 
}
.encabezado{
    height: 163px;
    font-size: 21px;
        .section-1{
            .titulo{
                h1{
                    text-align: center; 
                    font-weight: 500; 
                    padding: 30px;
                }
            }
        }
        .section-2{
            ul {
                justify-content: center;
                font-size: 1.4rem;
                border: none;
            }
        }
}
#principal{
    #home{
        h2{
            text-align: center;
            padding-bottom: 20px;
        }
    }
    #introduccion{
        #carouselExampleIndicators{
            padding: 30px;
        }
    }
    #nosotros{
        .grid-item{
            div{
                h2{
                    text-align: center;
                    padding: 20px;
                    font-weight:1000;
                    color: #0f0d0d;
                }
            }
            p{
                text-align: center;
                font-weight: 1000;
                padding: 30px 0px;
                color: #0f0d0d;

            }
            .vermas{
                text-decoration:none;
                color: #f0f8ff;
                display:inline-block;
                padding: 0px 750px;
                border: none;
            }
        }
    }
    #valores{
        .grid-item{
            h2{
                text-align: center;
                padding:30px 0px;
                font-weight:1000; 
                color: #0f0d0d;
            }
            p{
                text-align: center;
                font-weight: 1000;
                padding: 30px 0px;
                color: #0f0d0d;
            }
            ul{
                display: flex;
                justify-content: space-evenly;
                padding: 20px;
                li{
                    display: block;
                    text-decoration: wavy;
                    padding: 1%;
                    text-align: center;
                    font-weight: 1000;
                    color: #0f0d0d;
                    font-size: x-large;
                }
            }
            .video{
                display: inline;
                width: 800px;
                height: 800px;
                padding: 100px;
                margin-left: 398px;
            }
            .vinculo-valores{
                .vermas2{
                    text-decoration:none;
                    color: #f0f8ff;
                    display:inline-block;
                    padding: 50px;
                    border: none;
                }
            }
        }
    }
    
}
#footer{
    background-color: #0f0d0d;
    color: #f0f8ff;
    .container{
        text-decoration-style: none;
        .align-items-center{
            .col{
                text-decoration-style: none;
                color: #f0f8ff;
                p{
                    padding: 46px 6px 0px 0px;
                    margin-right: 40px;
                }
                iframe{
                    padding:40px;
                }
            }
        }
    }
    
}
@media screen and (min-height:765px) {
    #footer{
        height: 300px;
        border-top: #f0f8ff solid 2px ;
        color: #f0f8ff;
        .grid-item{
            padding: 40px 0px 0px 31px;
            .redessociales{
                ul{
                    display: flex;
                    flex-wrap: nowrap;
                    justify-content: space-around;
                    li{
                        a{
                            text-decoration-style:none;
                        }
            }   }   }
        }
    }
}

@media screen and (max-height:811px){
    #principal{
        section{
           #carouselExampleIndicators{
               .carousel-inner{
                   padding-top: 78px;
               }
           } 
        }
    }
    
}

/* nosotros */
body{
    .encabezado-nosotros{
        .titulo-nosotros{
            .h1-nosotros{
                padding: 20px;
                font-weight: 900;
            }
        }
        .men{
            text-decoration: none;
            .nav-tabs{
                justify-content: center;
            }
            
        }
    }
    #main-nosotros{
        .section-nosotros{
            .pregunta-nosotros{
                h2{
                    padding: 30px;
                    color: #f0f8ff;
                    font-weight:900 ;
                }
            }
            .texto-nosotros{
                p{
                    padding: 30px;
                    color: #f0f8ff;
                    font-weight:900 ;
                    text-align: center;
                }
            }
        }
    }
    .imagenes-nosotros{
        .container{
            .row-cols-2{
                col{
                    img{
                        border-radius: 50%;
                    }
                
                }
            }
           
        }
    }
}

/* valores */
.encabezado-valores{
    .titulo-valores{
        h1{
            padding: 20px;
            font-weight: 900;
        }
    }
    .men2{
        .nav-tabs{
            justify-content: center;
        }

    }
}
.main-valores{
    .section-valores{
        .pregunta-valores{
            h2{
                padding: 30px;
                color: #f0f8ff;
                font-weight:900 ;
            }
            
        }
        .respuesta-valores{
            p{
                font-weight: 700;  
                padding: 0px 30px;
                text-align: center;
                color: #f0f8ff;
                font-weight:900 ;
            }
        }
    }
    #segunda-parte-valores{
        .segunda-pregunta-valores{
            h2{
                text-align: center;
                color: #f0f8ff;
                font-weight:900 ;
            }
        }
    }
    .valores-lista1{
        .scrollspy-example{
            padding-top: 40px;
            h4{
                text-align: center;
                padding: 0px 30px;
                color: #f0f8ff;
                font-weight:900 ;
            }
            p{
                font-weight: 900;
                padding: 30px;
                color: #f0f8ff; 
            }
        }
    }
    .world-rugby{
        padding-left: 40px;
        color: #f0f8ff;
        font-weight: 900;
        text-decoration: none;
        a{
            display: inline;
            align-items: center;
        }
    }

}
#footer-valores{
    background-color: #0f0d0d;
    color: #f0f8ff;
    height: 300px;
    .container{
        text-decoration-style: none;
        .align-items-center{
            .col{
                width: 100%;
                text-decoration-style: none;
                color: #f0f8ff;
                p{
                    padding: 46px 6px 0px 0px;
                    margin-right: 40px;
                }
            }
        }
    }
}
/* contacto */
.encabezado-contacto{
    .titulo-contacto{
        h1{
            padding: 20px;
            font-weight: 900;
        }
    }
    .men3{
        .nav-tabs{
            justify-content: center;
        }
    }

}
main{
    .afirmacion-contacto{
        h2{
            padding: 50px 30px;
            font-weight: 900;
        }
    }
    .formulario{
        color: #f0f8ff;
        font-weight: 900;
        padding-left: 30px;
        text-align: center;
        justify-content: center;
        border: #f0f8ff solid 3px;
        border-radius: 4%;
        
 
        .form{
            justify-content: center;
            .formulario-grid{
                padding: 20px;
                justify-content: center;
            }
        }
    }
}
#footer-contacto{
    background-color: #0f0d0d;
    color: #f0f8ff;
    .container{
        text-decoration-style: none;
        .align-items-center{
            .col{
                text-decoration-style: none;
                color: #f0f8ff;
                p{
                    padding: 46px 6px 0px 0px;
                    margin-right: 40px;
                }
                
            }
        }
    }
    
}   
/* ayuda */
.encabezado-ayuda{
    .titulo-ayuda{
        h1{
            padding: 20px;
        }
    }
    .men4{
        .nav-tabs{
            justify-content: center;
        }

    }
}
main{
    .parte-uno-ayuda{
        .afirmacion-ayuda{
            h2{
                padding: 20px;
                text-align: center;
                font-weight: 900;
            }
        }
        
    }
    #preguntas-frecuentes{
        font-weight: 900;
        .preguntas{
            text-align: center;
            padding: 30px;
            .preguntas-grid{
                background-color: #f0f8ff;
                ul{
                    text-decoration: none;
                }
            }
        }
    }
}
#footer-help{
    background-color: #0f0d0d;
    color: #f0f8ff;
    .container{
        text-decoration-style: none;
        .align-items-center{
            .col{
                text-decoration-style: none;
                color: #f0f8ff;
                p{
                    padding: 46px 6px 0px 0px;
                    margin-right: 40px;
                }
                
            }
        }
    }
    
}   